<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635670337807-j6ukh32ufdtvlqp7ime81k0h6hfr8sb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635670337807-j6ukh32ufdtvlqp7ime81k0h6hfr8sb4</string>
	<key>API_KEY</key>
	<string>AIzaSyBt5z-TCoYVuxMNnsNoqSYWE6h9dF0OOyg</string>
	<key>GCM_SENDER_ID</key>
	<string>635670337807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.summarize</string>
	<key>PROJECT_ID</key>
	<string>crg-scratch-022423</string>
	<key>STORAGE_BUCKET</key>
	<string>crg-scratch-022423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635670337807:ios:6dd722b519f630a8cd467a</string>
</dict>
</plist>